* {
  font-family: "Inter", sans-serif;
  font-size: 19px;
  color: #5a4545;
  @media (max-width: 525px) {
    font-size: 14px;
  }
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
  @media (max-width: 778px) {
    padding: 0 20px;
  }
}

.bg-container {
  background-image: url("../img/bg-pattern.webp") !important;
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  margin-top: 70px;
  padding-bottom: 70px;
  @media (max-width: 525px) {
    margin-top: 40px;
    padding-bottom: 40px;
  }
}

button,
a {
  transition: 0.3s all ease;
}

.btn-primary {
  position: relative;
  overflow: hidden;
  background: var(--primary);
  border-radius: 10px;
  &:hover {
    background: color-mix(in srgb, var(--primary) 80%, black);
  }
}

.btn-primary span {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: inherit;
  z-index: 2;
}

.btn-primary::before {
  background: #fff;
  content: "";
  height: 135px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50%;
  width: 25px;
  transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(35deg) translateX(0);
}

.btn-secondary {
  border: 1px solid var(--primary);
  border-radius: 8px;
  color: var(--primary);
  font-weight: 700;
  font-size: 15px;
  &:hover {
    color: #fff;
    background: var(--primary);
  }
}

.btn-primary:hover::before {
  left: 130%;
}

/* Siema slider */

.siema {
  display: flex;
  overflow: hidden;
}
.siema div {
  flex: 0 0 auto;
  margin-right: 10px;
  width: 100%;
  margin: 0 auto;
}

/* Siema slider */

/* Modal */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 1000;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 10001;
  width: 90%;
  max-width: 500px;
  min-width: 300px;
  border: 5px solid var(--primary);
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px;
  border-radius: 50%;
  background: #000;
  width: 30px;
  height: 30px;
}

.modal {
  &__form {
  }

  &__title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  // .modal__input

  &__input {
    margin-bottom: 10px;
    display: block;
    padding: 12px;
    width: 100%;
    font-size: 18px;
    background: #fafafa;
    border: 1px solid #f7e2e2;
    border-radius: 7px;
    color: #968989;
    font-weight: 300;
    &:focus {
      border: 1px solid var(--primary);
    }
  }

  &__input-cont {
    position: relative;
    svg {
      position: absolute;
      right: 10px;
      top: 30%;
      bottom: 0;
      height: 40%;
      width: auto;
    }
    input {
      padding-right: 30px;
    }
  }

  // .modal__form-button

  &__form-button {
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 3px;
    background: var(--primary);
    padding: 10px 30px;
    font-weight: 700;
    color: #fff;
  }

  .error {
    border: 1px solid red;
  }
}

/* Modal */
