/* Hero section */

.hero {
  position: relative;
  overflow: hidden;
  margin-top: 105px;

  background: url("../img/hero-bg.webp") center center / cover no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .hero__left
  &__left {
  }

  // .hero__title

  &__title {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
  }

  // .hero__button

  &__button {
    margin-top: 20px;
    color: #fff;
    padding: 15px 40px;
  }

  // .hero__right

  &__right {
    margin-top: 30px;
    width: 100%;
    img {
      height: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .hero {
    padding-top: 40px;
    &__title {
      font-size: clamp(32px, 5vw, 55px);
    }
  }
}

@media (max-width: 778px) {
  .hero {
    padding-top: 10px;
    margin-top: 50px;
    &__button {
      margin-top: 20px;
      color: #fff;
      padding: 10px 30px;
      font-size: 16px;
    }
  }
}

@media (max-width: 600px) {
  .hero {
    min-height: 350px;
    text-align: center;
    padding: 60px 0;
    &__right {
      display: none;
    }
    &::before {
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
    }
  }
}

/* Hero section */

/* Advantages section */

.advantages {
  margin-top: 70px;

  // .advantages__top

  &__top {
  }

  // .advantages__title

  &__title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
  }

  // .advantages__descr

  &__descr {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
  }

  // .advantages__bottom

  &__bottom {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  // .advantages__left

  &__left {
    width: 60%;
  }

  // .advantages__cont-left

  &__cont-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  // .advantages__cont-left-item

  &__cont-left-item {
    width: calc(50% - 20px);
    background: #f7f5f5;
    border-radius: 15px;
    min-height: 200px;
    padding: 15px;
    svg {
      display: block;
      margin: 0 auto;
    }
  }

  // .advantages__cont-left-item-title

  &__cont-left-item-title {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
  }

  // .advantages__right

  &__right {
  }
}

@media (max-width: 1000px) {
  .advantages {
    &__bottom {
      flex-direction: column;
    }
    &__cont-left {
      width: 100%;
    }
    &__left {
      width: 100%;
    }
  }
}

@media (max-width: 778px) {
  .advantages {
    &__title {
      font-size: clamp(28px, 4vw, 55px);
    }
  }
}

@media (max-width: 700px) {
  .advantages {
    &__right {
      display: none;
    }
    margin-top: 40px;
  }
}
@media (max-width: 525px) {
  .advantages {
    margin-top: 30px;
    &__cont-left {
      flex-direction: column;
    }
    &__cont-left-item {
      width: 100%;
      min-height: max-content;
    }
  }
}

/* Advantages section */

/* Services section */

.services {
  padding-top: 70px;

  // .services__container

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  // .services__container-item

  &__container-item {
    width: calc(25% - 24px);
  }

  // .services__subtitle

  &__subtitle {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
  }

  // .services__title

  &__title {
    margin-top: 15px;
    font-size: 55px;
    font-weight: 700;
  }

  // .services__btn

  &__btn {
    margin-top: 30px;
    padding: 10px 30px;
  }

  // .services__item-img

  &__item-img {
  }

  // .services__item-title

  &__item-title {
    text-align: center;
    margin-top: 15px;
    font-weight: 700;
  }
}

@media (max-width: 1060px) {
  .services {
    &__container-item {
      width: calc(33% - 20px);
    }
  }
}

@media (max-width: 778px) {
  .services {
    &__container-item {
      width: calc(50% - 20px);
    }
    &__title {
      font-size: clamp(30px, 9vw, 55px);
      margin-top: 10px;
    }
    &__subtitle {
      font-size: 18px;
    }
  }
}

@media (max-width: 525px) {
  .services {
    padding-top: 40px;
    &__container {
      gap: 10px;
    }
    &__container-item {
      text-align: center;
      width: calc(50% - 5px);
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* Services section */

/* Portfolio section */

.portfolio {
  margin-top: 70px;

  // .portfolio__list

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  // .portfolio__item

  &__item {
    width: calc(25% - 8px);
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: background 0.3s ease;
      z-index: 1;
    }
    .portfolio__zoom {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(88, 85, 85, 0.6);
      color: #fff;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      opacity: 0;
      z-index: 10;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        background: #1f1313;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      &::before {
        background: rgba(0, 0, 0, 0.3);
      }
      .portfolio__zoom {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1060px) {
  .portfolio {
    &__item {
      width: calc(33% - 5px);
    }
  }
}

@media (max-width: 778px) {
  .portfolio {
    &__item {
      width: calc(50% - 5px);
    }
  }
}


/* Portfolio section */

// /* Reviews section */

// .reviews {
//   margin-top: 70px;

//   // .reviews__title

//   &__title {
//     font-size: 55px;
//     font-weight: 700;
//     text-align: center;
//   }

//   // .reviews__subtitle-cont

//   &__subtitle-cont {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 20px;
//     margin-top: 15px;
//   }

//   // .reviews__subtitle-line

//   &__subtitle-line {
//     width: 30%;
//     height: 3px;
//     background: #e7e0e0;
//   }

//   // .reviews__subtitle

//   &__subtitle {
//     font-size: 25px;
//     font-weight: 700;
//   }

//   // .reviews__swipper

//   &__swipper {
//     display: flex;
//     justify-content: space-between;
//     gap: 15px;
//     align-items: center;
//     margin-top: 35px;
//     .siema {
//       width: 80%;
//     }
//   }

//   // .reviews__swipper-item-img

//   &__swipper-item-img {
//     width: 100px;
//     height: 100px;
//     border-radius: 50%;
//     display: block;
//     margin: 0 auto;
//   }

//   // .reviews__swipper-item-name

//   &__swipper-item-name {
//     margin-top: 20px;
//     font-weight: 700;
//     font-size: 15px;
//     text-align: center;
//   }

//   // .reviews__swipper-item-text

//   &__swipper-item-text {
//     margin-top: 15px;
//     text-align: center;
//   }

//   // .reviews__btn

//   &__btn {
//     display: block;
//     margin: 0 auto;
//     margin-top: 90px;
//     padding: 10px 20px;
//   }

//   #next {
//     transform: rotate(180deg);
//   }

//   #prev,
//   #next {
//     width: 40px;
//     height: 40px;
//     padding: 10px;
//     border-radius: 50%;
//     border: 1px solid var(--primary);
//     &:hover {
//       background: var(--primary);
//       svg {
//         path {
//           stroke: #fff;
//         }
//       }
//     }
//   }
// }

/* Reviews section */

/* Text section */

.text-section {
  margin-top: 70px;
  // .text-section__accordion

  .hidden {
    max-height: 150px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .show {
    max-height: max-content;
    transition: all 0.3s ease;
  }

  &__accordion {
  }

  // .text-section__accordion-btn

  &__accordion-btn {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    color: var(--primary);
    font-weight: 700;
  }

  // .text-section__accordion-content

  &__accordion-content {
    position: relative;
    &.hidden::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 7) 100%);
      transition: opacity 0.4s ease;
      pointer-events: none;
    }
    &.show::after {
      content: none;
    }
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 525px) {
  .text-section {
    margin-top: 30px;
  }
}

/* Text section */

/* Cta section */

.cta {
  margin-top: 70px;
  // .cta__title

  &__title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
  }

  // .cta__text

  &__text {
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
  }

  // .cta__btn

  &__btn {
    padding: 8px 35px;
    display: block;
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media (max-width: 525px) {
  .cta {
    margin-top: 40px;
    &__title {
      font-size: 28px;
      font-weight: 700;
      text-align: center;
    }
    &__text {
      margin-top: 5px;
      font-size: 15px;
    }
  }
}

/* Cta section */

// background-image: url("img/bg-pattern.png") !important;
//   background-position: 0 0 !important;
//   background-repeat: repeat !important;
