.footer {
  margin-top: 70px;
  // .footer__top

  &__top {
    background: #543e70;
    color: #fff;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  // .footer__name-title

  &__name-title {
    color: #fff;
    font-weight: 700;
    font-size: 28px;
  }

  // .footer__phone

  &__phone {
    color: #fff;
    font-weight: 800;
  }

  // .footer__modal-button

  &__modal-button {
    color: #fff;
    padding: 10px 30px;
    font-weight: 700;
  }

  // .footer__bottom

  &__bottom {
    background: #38294b;
    .container {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
.copyright {
  color: #fff;
  text-align: center;
}

@media (max-width: 850px) {
  .footer {
    margin-top: 40px;
    &__top {
      .container {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}
