.header {
  position: fixed;
  background: #fff;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease;
  z-index: 999;
  box-shadow: 0px 6px 28px 0px rgba(89, 74, 74, 0.75);
  -webkit-box-shadow: 0px 6px 28px 0px rgba(89, 74, 74, 0.75);
  -moz-box-shadow: 0px 6px 28px 0px rgba(89, 74, 74, 0.75);
  &.hide {
    transform: translateY(-100%);
  }

  // .header__top

  &__top {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 700;
    font-size: 25px;
    max-width: 100px;
    height: auto;
  }

  // .header__name-title

  &__name-title {
    font-size: 30px;
    font-weight: 700;
    color: inherit;
  }

  // .header__phone

  &__phone {
    color: inherit;
    font-weight: 800;
    font-size: inherit;
  }

  // .header__modal-button

  &__modal-button {
    padding: 10px 25px;
    font-size: inherit;
  }

  // .header__nav

  &__nav {
    background: #314268;
    padding: 0 10px;
  }

  // .header__nav-list

  &__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__nav-item

  &__nav-item {
    padding: 14px;
    width: 100%;
    text-align: center;
    &:hover {
      background: var(--primary);
    }
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
  }

  &__mobile {
    display: none;
  }

  &__burger-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 30px;
    height: 30px;
    span {
      height: 3px;
      width: 100%;
      display: block;
      background: #fff;
      border-radius: 5px;
    }
  }

  &__mobile-nav {
    display: none;
  }
}

@media (max-width: 778px) {
  .header {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: #314268;
    padding: 10px 0;
    &__mobile {
      display: block;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &__logo {
      img {
        max-width: 100px;
        height: auto;
      }
    }
    &__top,
    &__nav {
      display: none;
    }

    // .header__mobile-nav

    &__mobile-nav {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      overflow-y: scroll;
      display: flex;
      right: -150%;
      background: #314268;
      flex-direction: column;
      gap: 10px;
      box-shadow: -9px 2px 10px -1px rgba(128, 117, 117, 0.45);
      -webkit-box-shadow: -9px 2px 10px -1px rgba(128, 117, 117, 0.45);
      -moz-box-shadow: -9px 2px 10px -10px rgba(128, 117, 117, 0.45);
      z-index: 1010;
      width: 100%;
      max-width: 400px;
      min-width: 300px;
      gap: 10px;
      transition: 0.4s all ease;
      &.active {
        right: 0;
      }
    }

    // .header__mobile-nav-close

    &__mobile-nav-close {
      max-width: max-content;
      margin-left: auto;
      width: 40px;
      height: 40px;
    }

    // .header__mobile-nav-list

    &__mobile-nav-list {
      display: flex;
      flex-direction: column;
      color: #fff;
    }

    // .header__mobile-nav-list-item

    &__mobile-nav-list-item {
      text-align: center;
      width: 100%;
      color: #fff;
      padding: 10px;
      width: 100%;
      height: 100%;
      font-size: 20px;
      &:hover {
        background: #415683;
      }
    }

    // .header__mobile-nav-number

    &__mobile-nav-number {
      text-align: center;
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }

    &__logo {
      max-width: 100%;
    }
  }
}
