/* Hero section */
.hero {
  position: relative;
  overflow: hidden;
  margin-top: 105px;
  background: url("../img/hero-bg.webp") center center/cover no-repeat;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.hero .container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__title {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
}
.hero__button {
  margin-top: 20px;
  color: #fff;
  padding: 15px 40px;
}
.hero__right {
  margin-top: 30px;
  width: 100%;
}
.hero__right img {
  height: 100%;
}

@media (max-width: 1000px) {
  .hero {
    padding-top: 40px;
  }
  .hero__title {
    font-size: clamp(32px, 5vw, 55px);
  }
}
@media (max-width: 778px) {
  .hero {
    padding-top: 10px;
    margin-top: 50px;
  }
  .hero__button {
    margin-top: 20px;
    color: #fff;
    padding: 10px 30px;
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .hero {
    min-height: 350px;
    text-align: center;
    padding: 60px 0;
  }
  .hero__right {
    display: none;
  }
  .hero::before {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
}
/* Hero section */
/* Advantages section */
.advantages {
  margin-top: 70px;
}
.advantages__title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.advantages__descr {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}
.advantages__bottom {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.advantages__left {
  width: 60%;
}
.advantages__cont-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.advantages__cont-left-item {
  width: calc(50% - 20px);
  background: #f7f5f5;
  border-radius: 15px;
  min-height: 200px;
  padding: 15px;
}
.advantages__cont-left-item svg {
  display: block;
  margin: 0 auto;
}
.advantages__cont-left-item-title {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
}
@media (max-width: 1000px) {
  .advantages__bottom {
    flex-direction: column;
  }
  .advantages__cont-left {
    width: 100%;
  }
  .advantages__left {
    width: 100%;
  }
}
@media (max-width: 778px) {
  .advantages__title {
    font-size: clamp(28px, 4vw, 55px);
  }
}
@media (max-width: 700px) {
  .advantages__right {
    display: none;
  }
  .advantages {
    margin-top: 40px;
  }
}
@media (max-width: 525px) {
  .advantages {
    margin-top: 30px;
  }
  .advantages__cont-left {
    flex-direction: column;
  }
  .advantages__cont-left-item {
    width: 100%;
    min-height: max-content;
  }
}
/* Advantages section */
/* Services section */
.services {
  padding-top: 70px;
}
.services__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.services__container-item {
  width: calc(25% - 24px);
}
.services__subtitle {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.services__title {
  margin-top: 15px;
  font-size: 55px;
  font-weight: 700;
}
.services__btn {
  margin-top: 30px;
  padding: 10px 30px;
}
.services__item-title {
  text-align: center;
  margin-top: 15px;
  font-weight: 700;
}

@media (max-width: 1060px) {
  .services__container-item {
    width: calc(33% - 20px);
  }
}
@media (max-width: 778px) {
  .services__container-item {
    width: calc(50% - 20px);
  }
  .services__title {
    font-size: clamp(30px, 9vw, 55px);
    margin-top: 10px;
  }
  .services__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 525px) {
  .services {
    padding-top: 40px;
  }
  .services__container {
    gap: 10px;
  }
  .services__container-item {
    text-align: center;
    width: calc(50% - 5px);
  }
  .services__container-item img {
    width: 100%;
    height: auto;
  }
}
/* Services section */
/* Portfolio section */
.portfolio {
  margin-top: 70px;
}
.portfolio__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.portfolio__item {
  width: calc(25% - 8px);
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.portfolio__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
  z-index: 1;
}
.portfolio__item .portfolio__zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(88, 85, 85, 0.6);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  transition: 0.3s ease;
}
.portfolio__item .portfolio__zoom:hover {
  background: #1f1313;
}
.portfolio__item .portfolio__zoom svg {
  width: 20px;
  height: 20px;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__item:hover::before {
  background: rgba(0, 0, 0, 0.3);
}
.portfolio__item:hover .portfolio__zoom {
  opacity: 1;
}

@media (max-width: 1060px) {
  .portfolio__item {
    width: calc(33% - 5px);
  }
}
@media (max-width: 778px) {
  .portfolio__item {
    width: calc(50% - 5px);
  }
}
/* Portfolio section */
/* Reviews section */
/* Text section */
.text-section {
  margin-top: 70px;
}
.text-section .hidden {
  max-height: 150px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.text-section .show {
  max-height: max-content;
  transition: all 0.3s ease;
}
.text-section__accordion-btn {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  color: var(--primary);
  font-weight: 700;
}
.text-section__accordion-content {
  position: relative;
}
.text-section__accordion-content.hidden::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgb(255, 255, 255) 100%);
  transition: opacity 0.4s ease;
  pointer-events: none;
}
.text-section__accordion-content.show::after {
  content: none;
}
.text-section__accordion-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 525px) {
  .text-section {
    margin-top: 30px;
  }
}
/* Text section */
/* Cta section */
.cta {
  margin-top: 70px;
}
.cta__title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.cta__text {
  font-size: 20px;
  margin-top: 25px;
  text-align: center;
}
.cta__btn {
  padding: 8px 35px;
  display: block;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 40px;
}

@media (max-width: 525px) {
  .cta {
    margin-top: 40px;
  }
  .cta__title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }
  .cta__text {
    margin-top: 5px;
    font-size: 15px;
  }
}
/* Cta section */

/*# sourceMappingURL=index.css.map */
